.login-body {
  background: 
    linear-gradient(to right, rgba(79, 205, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url('/qbwd.jpg');
    background-size: cover;
    background-position: center;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
