/* Dropdown */
.custom-dropdown-item {
  color: white;
  background-color: #0d6efd !important;
}

.custom-dropdown-item:hover {
  background-color: #17a2b8 !important;
  font-weight: bold;
  color: rgb(88, 46, 243);
}
