/* lines */
[class$="-line"] {
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 2px;
}

.aliceblue-line { background-color: aliceblue; }
.antiquewhite-line { background-color: antiquewhite; }
.aqua-line { background-color: aqua; }
.aquamarine-line { background-color: aquamarine; }
.azure-line { background-color: azure; }
.beige-line { background-color: beige; }
.bisque-line { background-color: bisque; }
.black-line { background-color: black; }
.blanchedalmond-line { background-color: blanchedalmond; }
.blue-line { background-color: blue; }
.blueviolet-line { background-color: blueviolet; }
.brown-line { background-color: brown; }
.burlywood-line { background-color: burlywood; }
.cadetblue-line { background-color: cadetblue; }
.chartreuse-line { background-color: chartreuse; }
.chocolate-line { background-color: chocolate; }
.coral-line { background-color: coral; }
.cornflowerblue-line { background-color: cornflowerblue; }
.cornsilk-line { background-color: cornsilk; }
.crimson-line { background-color: crimson; }
.cyan-line { background-color: cyan; }
.darkblue-line { background-color: darkblue; }
.darkcyan-line { background-color: darkcyan; }
.darkgoldenrod-line { background-color: darkgoldenrod; }
.darkgray-line { background-color: darkgray; }
.darkgreen-line { background-color: darkgreen; }
.darkgrey-line { background-color: darkgrey; }
.darkkhaki-line { background-color: darkkhaki; }
.darkmagenta-line { background-color: darkmagenta; }
.darkolivegreen-line { background-color: darkolivegreen; }
.darkorange-line { background-color: darkorange; }
.darkorchid-line { background-color: darkorchid; }
.darkred-line { background-color: darkred; }
.darksalmon-line { background-color: darksalmon; }
.darkseagreen-line { background-color: darkseagreen; }
.darkslateblue-line { background-color: darkslateblue; }
.darkslategray-line { background-color: darkslategray; }
.darkslategrey-line { background-color: darkslategrey; }
.darkturquoise-line { background-color: darkturquoise; }
.darkviolet-line { background-color: darkviolet; }
.deeppink-line { background-color: deeppink; }
.deepskyblue-line { background-color: deepskyblue; }
.dimgray-line { background-color: dimgray; }
.dimgrey-line { background-color: dimgrey; }
.dodgerblue-line { background-color: dodgerblue; }
.firebrick-line { background-color: firebrick; }
.floralwhite-line { background-color: floralwhite; }
.forestgreen-line { background-color: forestgreen; }
.fuchsia-line { background-color: fuchsia; }
.gainsboro-line { background-color: gainsboro; }
.ghostwhite-line { background-color: ghostwhite; }
.gold-line { background-color: gold; }
.goldenrod-line { background-color: goldenrod; }
.gray-line { background-color: gray; }
.green-line { background-color: green; }
.greenyellow-line { background-color: greenyellow; }
.grey-line { background-color: grey; }
.honeydew-line { background-color: honeydew; }
.hotpink-line { background-color: hotpink; }
.indianred-line { background-color: indianred; }
.indigo-line { background-color: indigo; }
.ivory-line { background-color: ivory; }
.khaki-line { background-color: khaki; }
.lavender-line { background-color: lavender; }
.lavenderblush-line { background-color: lavenderblush; }
.lawngreen-line { background-color: lawngreen; }
.lemonchiffon-line { background-color: lemonchiffon; }
.lightblue-line { background-color: lightblue; }
.lightcoral-line { background-color: lightcoral; }
.lightcyan-line { background-color: lightcyan; }
.lightgoldenrodyellow-line { background-color: lightgoldenrodyellow; }
.lightgray-line { background-color: lightgray; }
.lightgreen-line { background-color: lightgreen; }
.lightgrey-line { background-color: lightgrey; }
.lightpink-line { background-color: lightpink; }
.lightsalmon-line { background-color: lightsalmon; }
.lightseagreen-line { background-color: lightseagreen; }
.lightskyblue-line { background-color: lightskyblue; }
.lightslategray-line { background-color: lightslategray; }
.lightslategrey-line { background-color: lightslategrey; }
.lightsteelblue-line { background-color: lightsteelblue; }
.lightyellow-line { background-color: lightyellow; }
.lime-line { background-color: lime; }
.limegreen-line { background-color: limegreen; }
.linen-line { background-color: linen; }
.magenta-line { background-color: magenta; }
.maroon-line { background-color: maroon; }
.mediumaquamarine-line { background-color: mediumaquamarine; }
.mediumblue-line { background-color: mediumblue; }
.mediumorchid-line { background-color: mediumorchid; }
.mediumpurple-line { background-color: mediumpurple; }
.mediumseagreen-line { background-color: mediumseagreen; }
.mediumslateblue-line { background-color: mediumslateblue; }
.mediumspringgreen-line { background-color: mediumspringgreen; }
.mediumturquoise-line { background-color: mediumturquoise; }
.mediumvioletred-line { background-color: mediumvioletred; }
.midnightblue-line { background-color: midnightblue; }
.mintcream-line { background-color: mintcream; }
.mistyrose-line { background-color: mistyrose; }
.moccasin-line { background-color: moccasin; }
.navajowhite-line { background-color: navajowhite; }
.navy-line { background-color: navy; }
.oldlace-line { background-color: oldlace; }
.olive-line { background-color: olive; }
.olivedrab-line { background-color: olivedrab; }
.orange-line { background-color: orange; }
.orangered-line { background-color: orangered; }
.orchid-line { background-color: orchid; }
.palegoldenrod-line { background-color: palegoldenrod; }
.palegreen-line { background-color: palegreen; }
.paleturquoise-line { background-color: paleturquoise; }
.palevioletred-line { background-color: palevioletred; }
.papayawhip-line { background-color: papayawhip; }
.peachpuff-line { background-color: peachpuff; }
.peru-line { background-color: peru; }
.pink-line { background-color: pink; }
.plum-line { background-color: plum; }
.powderblue-line { background-color: powderblue; }
.purple-line { background-color: purple; }
.rebeccapurple-line { background-color: rebeccapurple; }
.red-line { background-color: red; }
.rosybrown-line { background-color: rosybrown; }
.royalblue-line { background-color: royalblue; }
.saddlebrown-line { background-color: saddlebrown; }
.salmon-line { background-color: salmon; }
.sandybrown-line { background-color: sandybrown; }
.seagreen-line { background-color: seagreen; }
.seashell-line { background-color: seashell; }
.sienna-line { background-color: sienna; }
.silver-line { background-color: silver; }
.skyblue-line { background-color: skyblue; }
.slateblue-line { background-color: slateblue; }
.slategray-line { background-color: slategray; }
.slategrey-line { background-color: slategrey; }
.snow-line { background-color: snow; }
.springgreen-line { background-color: springgreen; }
.steelblue-line { background-color: steelblue; }
.tan-line { background-color: tan; }
.teal-line { background-color: teal; }
.thistle-line { background-color: thistle; }
.tomato-line { background-color: tomato; }
.turquoise-line { background-color: turquoise; }
.violet-line { background-color: violet; }
.wheat-line { background-color: wheat; }
.white-line { background-color: white; }
.whitesmoke-line { background-color: whitesmoke; }
.yellow-line { background-color: yellow; }
.yellowgreen-line { background-color: yellowgreen; }

/* dots */
[class$="-dot"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.aliceblue-dot { background-color: aliceblue; }
.antiquewhite-dot { background-color: antiquewhite; }
.aqua-dot { background-color: aqua; }
.aquamarine-dot { background-color: aquamarine; }
.azure-dot { background-color: azure; }
.beige-dot { background-color: beige; }
.bisque-dot { background-color: bisque; }
.black-dot { background-color: black; }
.blanchedalmond-dot { background-color: blanchedalmond; }
.blue-dot { background-color: blue; }
.blueviolet-dot { background-color: blueviolet; }
.brown-dot { background-color: brown; }
.burlywood-dot { background-color: burlywood; }
.cadetblue-dot { background-color: cadetblue; }
.chartreuse-dot { background-color: chartreuse; }
.chocolate-dot { background-color: chocolate; }
.coral-dot { background-color: coral; }
.cornflowerblue-dot { background-color: cornflowerblue; }
.cornsilk-dot { background-color: cornsilk; }
.crimson-dot { background-color: crimson; }
.cyan-dot { background-color: cyan; }
.darkblue-dot { background-color: darkblue; }
.darkcyan-dot { background-color: darkcyan; }
.darkgoldenrod-dot { background-color: darkgoldenrod; }
.darkgray-dot { background-color: darkgray; }
.darkgreen-dot { background-color: darkgreen; }
.darkgrey-dot { background-color: darkgrey; }
.darkkhaki-dot { background-color: darkkhaki; }
.darkmagenta-dot { background-color: darkmagenta; }
.darkolivegreen-dot { background-color: darkolivegreen; }
.darkorange-dot { background-color: darkorange; }
.darkorchid-dot { background-color: darkorchid; }
.darkred-dot { background-color: darkred; }
.darksalmon-dot { background-color: darksalmon; }
.darkseagreen-dot { background-color: darkseagreen; }
.darkslateblue-dot { background-color: darkslateblue; }
.darkslategray-dot { background-color: darkslategray; }
.darkslategrey-dot { background-color: darkslategrey; }
.darkturquoise-dot { background-color: darkturquoise; }
.darkviolet-dot { background-color: darkviolet; }
.deeppink-dot { background-color: deeppink; }
.deepskyblue-dot { background-color: deepskyblue; }
.dimgray-dot { background-color: dimgray; }
.dimgrey-dot { background-color: dimgrey; }
.dodgerblue-dot { background-color: dodgerblue; }
.firebrick-dot { background-color: firebrick; }
.floralwhite-dot { background-color: floralwhite; }
.forestgreen-dot { background-color: forestgreen; }
.fuchsia-dot { background-color: fuchsia; }
.gainsboro-dot { background-color: gainsboro; }
.ghostwhite-dot { background-color: ghostwhite; }
.gold-dot { background-color: gold; }
.goldenrod-dot { background-color: goldenrod; }
.gray-dot { background-color: gray; }
.green-dot { background-color: green; }
.greenyellow-dot { background-color: greenyellow; }
.grey-dot { background-color: grey; }
.honeydew-dot { background-color: honeydew; }
.hotpink-dot { background-color: hotpink; }
.indianred-dot { background-color: indianred; }
.indigo-dot { background-color: indigo; }
.ivory-dot { background-color: ivory; }
.khaki-dot { background-color: khaki; }
.lavender-dot { background-color: lavender; }
.lavenderblush-dot { background-color: lavenderblush; }
.lawngreen-dot { background-color: lawngreen; }
.lemonchiffon-dot { background-color: lemonchiffon; }
.lightblue-dot { background-color: lightblue; }
.lightcoral-dot { background-color: lightcoral; }
.lightcyan-dot { background-color: lightcyan; }
.lightgoldenrodyellow-dot { background-color: lightgoldenrodyellow; }
.lightgray-dot { background-color: lightgray; }
.lightgreen-dot { background-color: lightgreen; }
.lightgrey-dot { background-color: lightgrey; }
.lightpink-dot { background-color: lightpink; }
.lightsalmon-dot { background-color: lightsalmon; }
.lightseagreen-dot { background-color: lightseagreen; }
.lightskyblue-dot { background-color: lightskyblue; }
.lightslategray-dot { background-color: lightslategray; }
.lightslategrey-dot { background-color: lightslategrey; }
.lightsteelblue-dot { background-color: lightsteelblue; }
.lightyellow-dot { background-color: lightyellow; }
.lime-dot { background-color: lime; }
.limegreen-dot { background-color: limegreen; }
.linen-dot { background-color: linen; }
.magenta-dot { background-color: magenta; }
.maroon-dot { background-color: maroon; }
.mediumaquamarine-dot { background-color: mediumaquamarine; }
.mediumblue-dot { background-color: mediumblue; }
.mediumorchid-dot { background-color: mediumorchid; }
.mediumpurple-dot { background-color: mediumpurple; }
.mediumseagreen-dot { background-color: mediumseagreen; }
.mediumslateblue-dot { background-color: mediumslateblue; }
.mediumspringgreen-dot { background-color: mediumspringgreen; }
.mediumturquoise-dot { background-color: mediumturquoise; }
.mediumvioletred-dot { background-color: mediumvioletred; }
.midnightblue-dot { background-color: midnightblue; }
.mintcream-dot { background-color: mintcream; }
.mistyrose-dot { background-color: mistyrose; }
.moccasin-dot { background-color: moccasin; }
.navajowhite-dot { background-color: navajowhite; }
.navy-dot { background-color: navy; }
.oldlace-dot { background-color: oldlace; }
.olive-dot { background-color: olive; }
.olivedrab-dot { background-color: olivedrab; }
.orange-dot { background-color: orange; }
.orangered-dot { background-color: orangered; }
.orchid-dot { background-color: orchid; }
.palegoldenrod-dot { background-color: palegoldenrod; }
.palegreen-dot { background-color: palegreen; }
.paleturquoise-dot { background-color: paleturquoise; }
.palevioletred-dot { background-color: palevioletred; }
.papayawhip-dot { background-color: papayawhip; }
.peachpuff-dot { background-color: peachpuff; }
.peru-dot { background-color: peru; }
.pink-dot { background-color: pink; }
.plum-dot { background-color: plum; }
.powderblue-dot { background-color: powderblue; }
.purple-dot { background-color: purple; }
.rebeccapurple-dot { background-color: rebeccapurple; }
.red-dot { background-color: red; }
.rosybrown-dot { background-color: rosybrown; }
.royalblue-dot { background-color: royalblue; }
.saddlebrown-dot { background-color: saddlebrown; }
.salmon-dot { background-color: salmon; }
.sandybrown-dot { background-color: sandybrown; }
.seagreen-dot { background-color: seagreen; }
.seashell-dot { background-color: seashell; }
.sienna-dot { background-color: sienna; }
.silver-dot { background-color: silver; }
.skyblue-dot { background-color: skyblue; }
.slateblue-dot { background-color: slateblue; }
.slategray-dot { background-color: slategray; }
.slategrey-dot { background-color: slategrey; }
.snow-dot { background-color: snow; }
.springgreen-dot { background-color: springgreen; }
.steelblue-dot { background-color: steelblue; }
.tan-dot { background-color: tan; }
.teal-dot { background-color: teal; }
.thistle-dot { background-color: thistle; }
.tomato-dot { background-color: tomato; }
.turquoise-dot { background-color: turquoise; }
.violet-dot { background-color: violet; }
.wheat-dot { background-color: wheat; }
.white-dot { background-color: white; }
.whitesmoke-dot { background-color: whitesmoke; }
.yellow-dot { background-color: yellow; }
.yellowgreen-dot { background-color: yellowgreen; }

/* Map legend */
.legend-label {
  font-size: 0.875rem;
  word-break: break-word;
}
