/* === Sidebar Styles === */
#sideBar_Body {
  background-color: #001e70 !important;
  color: white;
  border: none;
}

#sidebar-top {
  padding: 15px 20px;
}

.nav-link {
  color: #fff !important;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  transition: background 0.2s ease;
  font-size: 0.95rem;
}

.nav-link:hover {
  background-color: #495057;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  background-color: #17a2b8;
  font-weight: bold;
}

.sidebar-collapsed .nav-link {
  justify-content: center;
  padding: 0.75rem 0.5rem;
}

.mobile-sidebar-dropdown button.btn-primary {
  background-color: #001e70;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.mobile-dropdown-menu {
  background-color: #001e70;
}

.mobile-dropdown-menu .nav-link {
  color: white !important;
  padding: 0.75rem 0;
  border-radius: 0;
  font-weight: 500;
  justify-content: center !important;
  font-size: 0.8rem;
}

.mobile-dropdown-menu .nav-link.active {
  background-color: #17a2b8;
  font-weight: bold;
}

.mobile-dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-dropdown-menu li.nav-item {
  margin: 0;
  padding: 0;
}
